    {% extends 'blog/base.html' %}


    {% block content %}
    {% if user.is_authenticated %}
        <button class="btn btn-primary  btn-sm float-right" onclick="location.href = '/blog/create/'" >New Post</button>
    {% endif %}

    <h1 id = "blog-list-title">
        Blog
        {% if category %} <small class="text-muted">: {{ category }}</small> {% endif %}
        {% if tag %} <small class="text-muted">: #{{ tag }}</small> {% endif %}
    </h1>

    {% if object_list.exists %}
    {% for post in object_list%}
    <!-- Blog Post -->
    <div class="card mb-4" id ="post-card-{{ post.pk }}">

        {% if post.head_image %}
            <img class="card-img-top" src="{{ post.head_image.url }}" alt="Card image cap">
        {% else %}
            <img class="card-img-top" src="https://picsum.photos/750/300/?random" alt="Card image cap">
        {% endif %}

        <div class="card-body">
            {% if post.category %}
                <span class="badge badge-primary float-right" >{{ post.category }}</span>
            {% else %}
                <span class="badge badge-primary float-right" >미분류</span>
            {% endif %}
            <h2 class="card-title">{{ post.title }}</h2>
            <p class="card-text">{{ post.content| truncatewords:50 }}</p>
            {% for tag in post.tags.all %}
                <a href ="{{tag.get_absolute_url}}" >#{{ tag }}</a>
            {% endfor %}
            <br/>
            <br/>
            <a href="{{ post.get_absolute_url }}" class="btn btn-primary" id ="read-more-post-{{post.pk}}">Read More &rarr;</a>
        </div>
        <div class="card-footer text-muted">
            {{ post.created }}
            <a href="#">{{ post.author }}</a>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <h3>아직 게시물이 없습니다.</h3>
    {% endif %}
    {% endblock %}
